<div class="page-dashboard {{globalService.toggle && globalService.width>1025 ? 'page-toggle' : ''}}">

  <div class="row">
    <div class="col-md-4">
      <div class="panel chart-panel">
        <div class="panel-heading">
          <span>Sales</span>

        </div>
        <div class="panel-body"><app-sales-chart></app-sales-chart></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel chart-panel">
        <div class="panel-heading">
          <span>AD Click</span>

        </div>
        <div class="panel-body"><app-ad-chart></app-ad-chart></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel chart-panel">
        <div class="panel-heading">
          <span>Feedback</span>

        </div>
        <div class="panel-body"><app-feedback-chart></app-feedback-chart></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel chart-panel">
        <div class="panel-heading">
          <span>Issues</span>
          <i class="ion-gear-b pull-right" (click)="prepareUpload('issueChart')"></i>
        </div>
        <div class="panel-body"><app-issue-chart></app-issue-chart></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel chart-panel">
        <div class="panel-heading">
          <span>Customers</span>
          <i class="ion-gear-b pull-right" (click)="prepareUpload('customerChart')"></i>
        </div>
        <div class="panel-body"><app-customer-chart></app-customer-chart></div>
      </div>
    </div>
  </div>

<modal #upload>
    <modal-header [show-close]="true">
        <h4 class="modal-title"><strong>Upload CSV</strong></h4>
    </modal-header>
    <modal-body>
      <div *ngIf="uploadError">
        <div class="alert alert-warning" role="alert">{{uploadError}}</div>
      </div>
      <input type="file" id="fileinput" (change)="onUpload('#fileinput')" />
      <output id="out"></output>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="upload.dismiss()">Cancel</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="uploadError || emptyFile" (click)="uploadFire()">Upload</button>
    </modal-footer>
</modal>
