<div class="page-dashboard {{globalService.toggle && globalService.width>1025 ? 'page-toggle' : ''}}">
  <div class="chat-panel">
    <div class="chat-panel-title">
      <h3 class="pull-left"><i class="ion-chatbubbles"></i>&nbsp;Chat</h3>
      <div (click)="friendToggle=!friendToggle" class="pull-right {{globalService.width>700 ? 'nav-toggle' : ''}}"><i class="ion-navicon-round"></i></div>
    </div>
    <div class="chat-contact {{friendToggle?'nav-toggle':''}}">
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="{{menu=='Friends'?'active':''}}" (click)="menu='Friends'"><a>Friends</a></li>
        <li role="presentation" class="{{menu=='Search'?'active':''}}" (click)="menu='Search'"><a>Search</a></li>
      </ul>
      <div class="list-group" *ngIf="menu=='Search' && user_list">
        <a class="list-group-item" *ngFor="let item of user_list">
          <img src="{{item.imgUrl}}" class="pull-left">
          <span>{{ item.username }}</span>
          <button *ngIf="item.uid!=user_id" class="btn btn-danger pull-right" (click)="toggleFriend(item)"><i class="{{friendExist(item.uid)?'ion-plus':'ion-minus'}}"></i></button>
        </a>
      </div>
      <div class="list-group" *ngIf="menu=='Friends'">
        <div *ngFor="let item of friend_list | keys | orderBy : ['-updateTime', 'us ername']" >
          <a (click)="showDialog(item.uid)" class="list-group-item friend_list">
            <img src="{{item.imgUrl}}" class="pull-left">
            <span class="friend_list">{{ item.username }}</span>
            <p>{{ trimText(item.lastText) }}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="chat-message">
      <div class="default-text" *ngIf="chat_id.length==0">
        <h4>Please click a friend to start chatting.</h4>
      </div>
      <div *ngIf="chat_id.length>0">
        <div class="message-list" *ngIf="message_list.length>0">
          <div *ngFor="let msn of message_list; let i = index">
            <div class="message-frame {{msn.name!=receiver.username?'host':''}}">
              <div class="image">
                <img src="{{msn.imgUrl}}" alt="host-img">
              </div>
              <div class="text {{i%2==0 ? 'doubleLine' : ''}}">
                <div class="heading">
                  <a href="#">{{msn.name}}</a>
                  <span class="date">{{dateModifier(msn.date)}}</span>
                  {{msn.text}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-box">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type here..." [(ngModel)]="messageText">
            <div class="input-group-btn">
              <button (click)="sendMessage()" class="btn btn-primary">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
