<div class="page-dashboard {{globalService.toggle && globalService.width>1025 ? 'page-toggle' : ''}}">
  <div class="chat-panel">
    <div class="chat-panel-title">
      <h3><i class="ion-chatbubbles"></i>&nbsp;Chat</h3>
    </div>
    <div class="chat-contact">
    </div>
    <div class="chat-message">
      <div class="message-list">
        <div class="message-frame host">
          <div class="image">
            <img src="http://219.129.73.200/my_uppic/touxiang/big/touxiang%20(8).jpg" alt="host-img">
          </div>
          <div class="text">
            <div class="heading">
              <a href="#">ME</a>
              <span class="date">10:43</span>
              i am so boring
            </div>
          </div>
        </div>
        <div class="message-frame">
          <div class="image">
            <img src="http://219.129.73.200/my_uppic/touxiang/big/touxiang%20(8).jpg" alt="host-img">
          </div>
          <div class="text">
            <div class="heading">
              <a href="#">ME</a>
              <span class="date">10:43</span>
              i am so boring
            </div>
          </div>
        </div>
      </div>
      <div class="chat-box">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Type here...">
          <div class="input-group-btn">
            <button class="btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
